<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lovezly.coach">

    <application
        android:name="com.example.module_common.official.OfficialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activity.personal.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.ExaminationPayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.ExaminationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainNavActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>